<!--<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Django</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
	<h1>Hi there!</h1>
	<h3>It works.</h3>
	{% for post in posts %}
    <div class="container">
    	<div class="card">
	        <div class="card-title">
				<h1><a href="">{{ post.title }}</a></h1>
				<p>published: {{ post.published_date }}</p>
	        </div>
	        <div class="card-body">
	        	<div class="card-text">
		        	<p>{{ post.text|linebreaksbr }}</p>
		        </div>
		    </div>
        </div>
    </div>
	{% endfor %}
</body>
</html>
=================================================================================================
-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <style>
  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
  .primary-font{
    font-size:20px;
  }
  .p{
    float:left;

  }
  .color{
    color: white;
  }
   /*.grad {
    background: linear-gradient(to bottom, #33ccff 0%, #660033 100%);
    }*/
    
    



/*.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
        }*/
      </style>
    </head>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Campus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News Feed</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </li>-->
  </ul>
</div>
    <!--<form class="form-inline my-2 my-lg-0">
      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <div class="inner-addon right-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input type="search" class="form-control mr" placeholder="Search" />
    </div>-->
    <ul class="nav navbar-nav navbar-right bg-dark">

     <li class="dropdown "> 
      <a class="dropdown-toggle color " data-toggle="dropdown" href="#" aria-expanded="false">
        <img class="d-flex mr-3 rounded-circle" src="{% static "blog/user1.png" %}" width="30px" alt>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <a href="#">
            <img class="d-flex mr-3 rounded-circle p" src="{% static "blog/user2.jpg" %}" width="30px" alt>
            <div>
              <a href="# text-left">User Profile</a>
            </div>
          </a>
        </li>
        <hr>

        <li>
          <a href="#">
            <img class="d-flex mr-3 rounded-circle p" src="{% static "blog/sett.jpg" %}" width="30px" alt>
            <div>
              <a href="#">Settings</a>
            </div>
          </a>
        </li>
        <hr>
        <li>
          <a href="#">
            <img class="d-flex mr-3 rounded-circle p" src="{% static "blog/logout.jpg" %}" width="30px" alt>
            <a href="#">Logout</a>
          </a>
        </li>

        
      </ul>

    </li>



    <li>
     <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary color" type="button" >Search</button>
      </div>
    </div>

  </li>




</ul>

</nav>

<div class="container-fluid text-center grad">    


    
    <div class="row"> 
      <div class="col-sm-2 ">

       <div class="card w-30" style="margin-top: 20px">
        <img class="card-img-top" src="{% static "blog/download1.jpg" %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Falguni Pathak</h5>
          <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
          <a href="#">About</a>&nbsp;&nbsp;

          <a href="#">Edit Profile</a>


        </div>
      </div>

      <div class="card border-primary mb-3" style=" margin-top: 20px;  max-width: 18rem;">
        <div class="card-header">About</div>
        <div class="card-body text-primary">
          <h5 class="card-title">ML Enthusiast</h5>
          <p class="card-text">Burning mid-night oil to make this world shine even more.</p>
        </div>
      </div>


    </div>
    <div class="col-sm-7 " style="margin-top: 20px">

    	<!--======================for adding a new post in the timeline====================-->
    	<div class="card  w-400 " >
    		<div class="card-body">
				<div class="card">
					<div class="card-body">
		            	<a href="{% url 'post_new' %}" class="top-menu">
		            		<button type="button" class="btn btn-outline-success">Post Something new!</button>
		            	</a>
		            </div>
	            </div>   
            	{% for post in posts %}
            	<div class="container">
            		<div class="card border-success" style="margin-top: 20px;">
            			<div class="card-header" style="margin-left: 10px;">
            				<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
							<p>published: {{ post.published_date }}</p>
            			</div>
            			<div class="card-body">
            				<div class="card-text" style="margin-left: 10px;">
            					<p>{{ post.text|linebreaksbr }}</p>
            					<div class="text"><small class="text-muted"> Last updated at {{post.published_date}}</small></div>
            				</div>
            			</div>
            		</div>
            	</div>
            	{% endfor %}

            </div>
        </div>
    </div>


    <div class="col-sm-2 ">




<div class="card" style=" margin-top: 20px; width: 18rem;">

  <div class="card-header text-left" >

    <img class="d-flex mr-3 rounded-circle p" src="{% static "blog/noti.jpg" %}" width="60px" alt>&nbsp;
    <strong >Notifications</strong>





    
  </div>
  <div class="card-body">
    <!--<h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
      <div class="card w-100" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
           <div class="media">
            <img class="d-flex mr-3 rounded-circle" src="{% static "blog/comment.jpg" %}" width="30px" alt>
            <div class="media-body">
              <div class="header">
                <a href="#"><em>New Comment</em></a>




              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
         <div class="media">
          <img class="d-flex mr-3 rounded-circle" src="{% static "blog/folo.jpg" %}" width="30px" alt>
          <div class="media-body">
            <div class="header">
             <a href="#" ><em >New Followers</em></a>
           </div>
         </div>
       </div> 


     </li>

     <li class="list-group-item">
       <div class="media">
        <img class="d-flex mr-3 rounded-circle" src="{% static "blog/messagesent.jpg" %}" width="30px" alt>
        <div class="media-body">
          <div class="header">
           <a href="#" ><em >Message Sent</em></a>
         </div>
       </div>
     </div> 


   </li>
 </ul>
</div>
<br>
<div>
  <button type="button" class="btn btn-secondary">View All Alerts</button>
</div>
</div>
</div>


<div class="card text-left " style=" margin-top:20px; width: 18rem;">
  <div class="card-header ">
    <Strong class>Groups</Strong>
    <img class="d-flex mr-3 rounded-circle p" src="{% static "blog/gro2.jpg" %}" width="50px" alt>
  </div>
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item left clearfix">
      <div class="media">
        <img class="d-flex mr-3 rounded-circle" src="{% static "blog/groups.jpg" %}" width="30px" alt>
        <div class="media-body">
          <div class="header">
            <strong class="primary-font">CSE-12</strong>
            <div class="another">
              <strong>srishti Vashishtha</strong>
              "posted an article"
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item ">
      <div class="media right clearfix">
        <span class="chai-img pull-left">
          <img class="d-flex mr-3 rounded-circle" src="{% static "blog/groups.jpg" %}" width="30px" alt>
        </span>
        <div class="media-body">
          <div class="header">
            <strong class="primary-font">Big-Data Analysis</strong>
            <div class="another">
              <strong>Divyajeet Singh</strong>
              "posted a comment."
            </div>
          </div>
        </div>
      </div>
    </li>


      <li class="list-group-item">
        <div class="media">
        <img class="d-flex mr-3 rounded-circle" src="{% static "blog/groups.jpg" %}" width="30px" alt>
        <div class="media-body">
          <div class="header">
            <strong class="primary-font">CSE-9</strong>
            <div class="another">
              <div>
                <strong>Rachit Jasrotia</strong>
              </div>
              <div>
               <strong>Daniel White</strong>
              </div>
              <div>
                <strong>Pulkit Samrat</strong>
              </div>
            </div>
          </div>
        </div>
      </li>

      
      <li class="list-group-item ">
        <div class="media right clearfix">
          <span class="chai-img pull-right">
            <img class="d-flex mr-3 rounded-circle" src="{% static "blog/groups.jpg" %}" width="30px" alt>
          </span>
          <div class="media-body">
            <div class="header">
              <strong class="primary-font">Machine Learing</strong>
              <div class="another">
                <strong>Chupa Rustam</strong>
                "posted a comment" 
              </div>
            </div>
          </div>
        </div>
      </li>

        



      </div>
  </ul>
</div>
</div>
</div>
</div>







<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
